@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,300;0,900;1,100&display=swap');

body {
    display: flex;
    /* flex: 0, 0, auto; */
    flex-direction: column;   
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #d1d1ff;
    color: black;
    margin: 0px;
}

.header {
    height: 150px;
    /* background-color: #02026a; */
    background-color: orange;
    margin-bottom: 15px;
}

h1 {
    /* color: orange; */
    color: #02026a;
}

.main-content {
    padding-top: 2em;
    height:75vmax;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.btn {
    border-color: orange;
    background-color:orange;
    color: #02026a;
    border-radius: 7%;
    width: 175px;
    font-size: 25px;
    padding: 10px 0;
    font-family: 'Mochiy Pop P One', sans-serif;
    transition: transform .2s;
}

.btn:hover {
    transform: scale(1.1); 
}

.sqr {
    background-color:white;
    width: 150px;
    height: 150px;
    font-size: 90px;
    border-radius: 25%;
    transition: transform .2s;
}

.sqr:hover  {
    transform: scale(1.1);
}

.buttons {
    padding: 0 15%;
    display: flex;
    justify-content: space-evenly;
}

.outcome {
    margin-top: 2em;
}

.boards {
    display: flex;
    justify-content: center;
       
}

.board {
    padding: 15px;
    margin: 10px;
    border-radius: 5%;
    border: solid 1px #02026a;
    background-color: #02026a;
    color: white;
}

.score {
    font-size: 100px;
    font-family: 'Abril Fatface';
    color: orange;
    margin-top: -20px;
}

.selection {
    margin-top: -100px;
}

.winnerText {
    font-size: 50px;
    color: #02026a;
}
.footer {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: orange;
    color: black;
    margin-top: 10px;
    padding-top: 10px;   
}

.footerText {
    margin-left: 15px;
}



